* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    background: white;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
}

.logo-icon {
    height: 48px;
    width: 48px;
    background-image: url(https://picsum.photos/100);
    background-size: cover;
    border-radius: 50%;
}

.nav-container {
    display: flex;
    list-style: none;
}

nav section li {
    margin-left: 20px;
}

.nav-item {
    text-decoration: none;
    color: black;
    padding: 8px 12px;
    transition: 0.3s;
}

.nav-item:hover {
    background: #f4f4f4;
}

.banner-img {
    height: 300px;
    background-image: url(https://picsum.photos/1000);
    background-size: cover;
    background-position: center;
}

.profile-container {
    display: flex;
    justify-content: space-around;
}

.profile-item {
    height: 100px;
    text-align: -webkit-center;
}

.profile-img {
    height: 50px;
    background-image: url(https://picsum.photos/250);
    background-size: cover;
    background-position: center;
    border-radius: 50px;
    width: 50px;

}